.containerCardAuctProf{
    width: 700px;
    height: 400px;
    margin-bottom: 1rem;
    display: flex;
    /* background-color: aqua; */
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.containerCardAuctProfLeft{
    width: 250px;
    height: 300px;
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.145);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.17);
    margin-top: 2rem;
    margin-right: -2rem;
}
.containerCardAuctProfRight{
    width: 450px;
    height: 400px;
    background: rgba(26, 215, 228, 0.41);
    border-radius: 16px;
    
}





 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  