.container-edit {
  width: 100%;
  min-height: 900px;
  display: flex;
  justify-content: center;
  background-image: url("../../images/the-polygon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
}
