.ContractContainerGeneral{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-radius: 10px;
    font-size: 10px;
    background-color: white;
    height: 50%;
    width: 50%;
    
}

.contractContainer{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;

}
.professionalInfo{
    margin-top: 20px;
    border-top: 1px solid;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    display: flex;
}
.userInfoContainer{
    margin-top: 20px;
    border-top: 1px solid;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}
.contractText{
    background-color:#b6e4e9; 
    background-size: cover;
    width: 95%;
    font-family: "Nunito", sans-serif;
}

.imagenContract{
    width: 125px;
    height: 204px;
    border-radius: 19px;
    
}
.contractTextTitle{
    background-color:#b6e4e9; ;
    text-decoration: underline;
    font-family: "Nunito", sans-serif;
    width: 95%;
}
.containerImgContract{
    border: 3px solid;
    width: 130px;
    height: 210px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 10%;
}
.professionalInfoText{
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}