.contractContainerGral{
    background-color: #1d3454;
}
.contratosTitulos{
    font-size:30px;
    color: white;
    font-family: "Nunito", sans-serif;
    text-decoration: underline;
    text-align: center;
}