*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
 
  .containertabs {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height:auto;
    word-break: break-all;
    margin-top: 3%;
    
  }
  
  .bloc-tabs {
    display: flex;
    justify-content: center;
    margin-left: 5%;
  }
  .tabs {
    padding: 16px 32px;
    text-align: center;
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    outline: none;
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--main-first-color);
    background-color:rgb(248, 248, 248);
  }
  .tabs:not(:last-child){
    
  }
  
  .active-tabs  {
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 45, 84, 0.1);
  }
  

  #Uno {
    margin-right: 5%;
  }
  #Uno:hover {
    background: #fff; 
    box-shadow: 0px 0px 20px rgba(0, 45, 84, 0.1);
  }

  #Dos:hover {
    background: #fff; 
    box-shadow: 0px 0px 20px rgba(0, 45, 84, 0.1);
  }
  
  
  button {
    border: none;
    
  }
  .content-tabs {
  }
  .content {
    padding: 50px;
    width: 100%;
    display: none;
    padding-bottom:10%;
    font-family: 'Nunito', sans-serif;
  }
  .content h2 {
    padding: 0px 0 5px 0px;
    font-size: 32px;
  }
  .content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
  }
  .content p {
    width: 100%;
    height: 100%;
    font-size: 24px;
  }
  .active-content {
    display: block;
    color: var(--main-first-color);
    text-align: center;
    
  }

.containerE{
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: auto;
  min-height: 400px;
  background-color:rgb(248, 248, 248);

}